<!-- Home For Humanity -->
<!-- by Brian Cottrell -->
<!-- 02-10-2015        -->
<!-- Index View        -->

<!DOCTYPE html>
<html lang='en'>
<head>
    <script src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
            data-sap-ui-libs="sap.m" 
            data-sap-ui-theme="sap_bluecrystal">
    </script>
</head>
<body id='content' class='sapUiBody'>
    <style>
    </style>
    <div></div>
    Hello
    <script>
    </script>​
</body>
</html>